* {
    font-family: Verdana;
    font-weight: lighter;
    box-sizing: border-box;
}

header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px 0px -10px 0px;
    border-bottom: 1px solid orange;
    padding: 10px 0px;
    background-color: #246;
    min-height: 130px;
}

footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    border-top: 1px solid white;
    padding: 10px;
    background-color: #246;
    color: white;
}

h1 {
	text-align: center; 
	color: yellow;
}

.container-fluid{
    max-width: 615px;
    border-radius: 10px;
    border: 3px solid black;   
    padding: 00px; 
    margin: 20px auto;
    background-color: #DDD;
}

.wrapper{
	margin-bottom: 20px;
}

.data-title{
	color: #246;
	/* background-color: red; */
	font-size: 1.5em;
}

.navbar{
	border-radius: 0px;
}

.data{
	color: black;
	font-size: 1.0em;
}

#data-container {
	min-height: 190px; 
	padding: 10px 25px 25px 45px;
	color: black;
}

#sun-icon {
	font-size: 1.5em;
}

#hot {
	color: red;
}

#cold {
	color: blue;
}

#footer-text{
    text-align: center;
}